flask-babel==3.1.0
flask==2.3.3
jinja2==3.1.2
lxml==4.9.3
bs4
gunicorn
requests==2.31.0
libfrea
pyfiglet
pygeonlp==1.2.0
feedparser==6.0.10
lxml~=4.9.3
redis==4.6.0
pygments==2.16.1
python-dateutil==2.8.2
pyyaml==6.0.1