{% extends "results_layout.jinja2" %}

{% block body %}
    <p class="fetched fetched_dif fetched_img">{{ fetched }}</p>
    {% if results %}
    <div class="images images_viewer_hidden">
        <div class="image_view image_hide">
            <div class="image-view-close">
                <div class="material-icons-round icon_visibility clickable image-before">navigate_before</div>
                <div class="material-icons-round icon_visibility clickable image-next">navigate_next</div>
                <div class="material-icons-round icon_visibility clickable image-close">close</div>
            </div>
            <a class="image-viewer-link clickable" href="">
            <div class="view-image">
                <img class="view-image-img" src=""/>
            </div>
            </a>
            <a class="image-alt"></a>
            <hr>
            <p>View image: <a class="image-source" href=""></a></p>
        </div>
        {% for result in results %}
        <div class="image">
        <a class="clickable" {% if new_tab == "active" %} target="_blank" {% endif %} href="{{ result.url }}">
            <img class="open-image-viewer" src="https://proxy.sda1.net/proxy.webp?url={{ result.img_src }}&thumbnail=1" alt="{{ result.title }}"/>
        </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="no-results-found">
            Your search '{{ q }}' came back with no results.<br>
            Try rephrasing your search term and/or recorrect any spelling mistakes.
        </div>
    {% endif %}
{% endblock %}
